{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}
  {% translate "Sign in" %}
{% endblock head_title %}
{% block inner %}
  <h1>{% translate "Sign in" %}</h1>
  {% get_providers as socialaccount_providers %}
  {% if socialaccount_providers %}
    <p>{% translate "Please use one of your existing third party accounts to sign in:" %}</p>
    <div class="socialaccount_ballot">
      <ul class="socialaccount_providers">
        {% for provider in socialaccount_providers %}
          <li>
            <a href="{% provider_login_url provider %}"
               class="socialaccount_provider {{ provider.id }}">
              <i class="fab fa-{{ provider.id }}"></i>
              Sign in with {{ provider.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock inner %}
